[Unit]
Description=Check catalog health every 30 seconds

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
AccuracySec=1s
Unit=varpet-catalog-watchdog.service

[Install]
WantedBy=timers.target
